html {
    background: #000000; 
    background: -webkit-linear-gradient(to top, #000000, #434343); 
    background: linear-gradient(to top, #000000, #434343); 
}

header {
    text-align: center;
    font-size: 40px;
}

.lateral {
    text-decoration-line: none;
    text-decoration: none;
    color:#ffff;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
    font-weight: 400;
    font-style: italic;
}

.menu {
    
    padding-right: 40px;
    color: #ffff;
    display: flex;
    text-decoration-line: none;

}

a:hover {
    color: gray;
}

li {
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    justify-content: center;
}

/* video rondodasosa */

.videoR {

    display: flex;
    height: 500px;
    justify-content: center;
}

/* video Piero 47 */ 

.videoP {
    display: flex;
    height: 500px;
    justify-content: center;
}

/* video Il nene de oro */ 

.videoI {
    display: flex;
    height: 500px;
    justify-content: center;
}

/* video Beny jr */

.videoB {

    display: flex;
    height: 500px;
    justify-content: center;
}

/* video Central Cee */

.videoC {

    display: flex;
    height: 500px;
    justify-content: center;
}